.div-center {
    display: flex;
    justify-content: center;
}

.div-center-vertical   {
  display: flex;
  align-items: center;
}

.list_caracts {
  gap: 10px;
}

.btns {
    gap: 40px;
}

.center {
    text-align: center;
}

#menu-connection {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#header {
  position: relative;
  margin-left: 0.5%;
  display:flex;
  flex-direction: column;
  gap: 10px;
}

#main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 20px;
}

#body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#footer {
    display: flex;
    justify-content: center;
}


#menu {
  display: flex;
  justify-content: start;
  flex-direction: column;
  position: fixed;
}

.logo {
  max-height:22%;
  width:22% ;
}

.ranks {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-text {
  margin-bottom: 0rem !important;
}

.clock {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #000000;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #1063de solid;
  border-radius: 5px;
  background: #e8e8e8;
}

.coolinput input[type=text].input:focus {
  outline: none;
}

.button {
  height: 40px;
  width: 150px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #8c8282;
  overflow: hidden;
  border-radius: 30px;
  color: #efefef;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #000000;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.input {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}