{% extends "layout2.html" %}



{% block main %}

    <br>
    <div>
        <h1 class="center">Se connecter</h1>
    </div>
    <div class="div-center">
        <div class="coolinput">
            <label for="input" class="text" >Username:</label>
            <input style='width: 250px;' id="username" type="text" placeholder="Write here..." name="input" class="input field">
        </div>
    </div>

    <div class="div-center">
        <button class="btn btn-primary" id='btn' style="width: 250px;" disabled>Suivant</button>
    </div>
    

{% endblock %}